<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calibration Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 <style>
  

    .custom-button {
        font-size: 30px;
        padding: 10px 20px; 
        margin: 30px; 
    }
</style>
</head>
<body>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/calibration">Calibration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mesh_rendering">Mesh Rendering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orthosis_rendering">Orthosis Rendering</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container row">
        <img id="video" src=""/>
        <strong>
         Take pictures of chessboard
        </strong>
        <button class="btn btn-primary mb-3 custom-button" id="startDetectionButton" onclick="startStream()">
         Open Camera
        </button>
        <button class="btn btn-primary mb-3 custom-button" style="display: none;" id="closeCameraButton" onclick="stopCamera()">
        Close Camera
           </button>
        <button class="btn btn-primary mb-3 custom-button" style="display: none;" id="startCalibrationButton" onclick="startCalib()">
        Calibrate
        </button>

        <p id="calibStatus" style="display: none;"></p>
        <br/>
        <br/>
        <strong>
         Upload Multiple Chess Board Pictures
        </strong>
        <form class="mb-3" id="uploadForm">
            <input class="form-control" id="imageUpload" name="images" type="file" multiple/>
            <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="sr-only">Uploading...</span>
            </div>
            <button class="btn btn-primary mb-3 custom-button" id="submitButton" type="submit">
                Upload
            </button>
            <span id="uploadStatus"></span>
        </form>
        
      
         <script>
document.getElementById("uploadForm").addEventListener("submit", function(event) {
    event.preventDefault();

    var formData = new FormData();
    var files = document.getElementById("imageUpload").files;
    if (files.length === 0) {
        let calibStatus = document.getElementById('calibStatus');
        calibStatus.innerHTML = "No files selected!";
        calibStatus.style.display = 'block';
        calibStatus.style.color = 'red'; 
        calibStatus.style.fontSize = '30px'; 
        return;
    }

    for (var i = 0; i < files.length; i++) {
        formData.append("chessboard_images", files[i]);
    }

    document.getElementById("spinner").style.display = "block";
    document.getElementById("submitButton").style.display = "none";

    fetch("/upload_images_calibration", {
        method: "POST",
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            // Error handling for file upload
            return response.json().then(err => { throw err; });
        }
        return response.json();
    })
    .then(data => {
        console.log(data);
        let uploadStatus = document.getElementById("uploadStatus");
        uploadStatus.innerText = data.message;
        uploadStatus.style.color = 'green';
        uploadStatus.style.fontSize = '30px';
        document.getElementById("spinner").style.display = "none";
        document.getElementById("submitButton").style.display = "block";
    })
    .catch(error => {
        // Display error message
        let calibStatus = document.getElementById('calibStatus');
        calibStatus.innerHTML = 'Error during file upload: ' + (error.message || 'Unknown error');
        calibStatus.style.color = "red";
        calibStatus.style.display = "block";
        calibStatus.style.fontSize = '30px'; 

        // If the upload fails, stop the spinner and allow the user to try again
        document.getElementById("spinner").style.display = "none";
        document.getElementById("submitButton").style.display = "block";
    });
});


    


function showMessage(text) {
    var messageElement = document.getElementById('calibStatus');
    messageElement.textContent = text;
    messageElement.style.display = 'block';
    messageElement.style.color = 'green'; 
    messageElement.style.fontSize = '30px'; 
}
function startStream() {
        
        var video = document.getElementById('video');
        video.src = "{{ url_for('video_feed_calibration') }}";
        document.getElementById("startDetectionButton").disabled = true;
        document.getElementById("startCalibrationButton").style.display = "none";

        document.getElementById("closeCameraButton").style.display = "block";
        document.getElementById("closeCameraButton").disabled = false;
        setTimeout(checkImageCount, 1000);

        
    }
function stopCamera(){
    var video = document.getElementById('video');
        video.src = "";
        document.getElementById("startDetectionButton").disabled = false;

}
function startCalib() {
    var video = document.getElementById('video');
    video.src = "";
    document.getElementById("startDetectionButton").disabled = false;
    document.getElementById("startCalibrationButton").disabled = true;
    document.getElementById("closeCameraButton").disabled = true;
    fetch("/calibrate_feed", {
        method: "POST"
    })
    .then(response => response.json())
    .then(data => {
        showMessage(data.message);
    });
}


    function checkImageCount() {
        fetch('/count_images')
        .then(response => response.json())
        .then(data => {
            if (data.count === 10) {
                document.getElementById("startDetectionButton").disabled = true;
                document.getElementById("startCalibrationButton").style.display = "block";
            } else {
                document.getElementById("startCalibrationButton").style.display = "none";
                setTimeout(checkImageCount, 2000);
            }
        });
    }
   
         </script>
       
      </body>
     </html>

    
   