# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# pytorch/python formats
*.pth
*.pkl
!MANO_RIGHT.pkl
!basicModel_neutral_lbs_10_207_0_v1.0.0.pkl

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~


# Pycharm editor settings
.idea

# VS code 
.vscode

# MacOS
.DS_Store

# project dirs
/data
/datasets
samples/hand_tests
Blender/
models
output
exps
predictions

# hidden folder for aml configs
.azureml
.git    