azureml==0.2.7
boto3==1.28.11
botocore==1.31.11
chumpy==0.70
Flask==2.0.2
ftfy==6.1.1
matplotlib==3.5.3
mediapipe==0.9.0.1
mock==5.1.0
numpy==1.21.6
opencv_contrib_python==4.6.0.66
Pillow==9.5.0
plotly==5.15.0
ptvsd==4.3.2
pyrender==0.1.45
pytest==7.2.0
pytorch_pretrained_bert==0.6.2
PyYAML==6.0.1
regex==2023.6.3
requests==2.25.1
scikit_learn==1.0.2
scipy==1.7.3
sentencepiece==0.1.99
setuptools==59.6.0
Shapely==1.8.5.post1
shapelysmooth==0.1.1
six==1.16.0
spacy==3.6.0
tqdm==4.64.1
trimesh[all]==3.21.7
yacs==0.1.8
pyglet==1.5.27
gunicorn==21.2.0
uvicorn==0.22.0